<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Welcome</title>
    <link rel="stylesheet" href="styles/styles.css">
</head>
<body>
    <div id="profile-display" class="">
        <h2>Welcome, <%=profile.firstname %> <%=profile.lastname %>!</h2>
        <a href="/edit-profile">
        <button id="edit-btn">Edit Profile</button></a><br><br>
        <form action="/delete-profile" method="POST" onsubmit="return confirm('Are you sure you want to delete your profile?');">
          <button id="delete-btn">Delete Profile</button><br><br>
        </form>
      </div>
</body>
</html>
